{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://serverlessrepo.amazonaws.com/"
        },
        {
            "url": "http://serverlessrepo.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>The AWS Serverless Application Repository makes it easy for developers and enterprises to quickly find\n and deploy serverless applications in the AWS Cloud. For more information about serverless applications,\n see Serverless Computing and Applications on the AWS website.</p><p>The AWS Serverless Application Repository is deeply integrated with the AWS Lambda console, so that developers of \n all levels can get started with serverless computing without needing to learn anything new. You can use category \n keywords to browse for applications such as web and mobile backends, data processing applications, or chatbots. \n You can also search for applications by name, publisher, or event source. To use an application, you simply choose it, \n configure any required fields, and deploy it with a few clicks. </p><p>You can also easily publish applications, sharing them publicly with the community at large, or privately\n within your team or across your organization. To publish a serverless application (or app), you can use the\n AWS Management Console, AWS Command Line Interface (AWS CLI), or AWS SDKs to upload the code. Along with the\n code, you upload a simple manifest file, also known as the AWS Serverless Application Model (AWS SAM) template.\n For more information about AWS SAM, see AWS Serverless Application Model (AWS SAM) on the AWS Labs\n GitHub repository.</p><p>The AWS Serverless Application Repository Developer Guide contains more information about the two developer\n experiences available:</p><ul>\n <li>\n <p>Consuming Applications – Browse for applications and view information about them, including\n source code and readme files. Also install, configure, and deploy applications of your choosing. </p>\n <p>Publishing Applications – Configure and upload applications to make them available to other\n developers, and publish new versions of applications. </p>\n </li>\n </ul>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWSServerlessApplicationRepository",
        "version": "2017-09-08",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/serverlessrepo-2017-09-08.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "serverlessrepo"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/serverlessrepo/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/applications": {
            "get": {
                "description": "Lists applications owned by the requester.",
                "operationId": "ListApplications",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "MaxItems",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "NextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Applications": {
                                            "description": "An array of application summaries.",
                                            "items": {
                                                "description": "Summary of details about the application.",
                                                "properties": {
                                                    "ApplicationId": {
                                                        "description": "The application Amazon Resource Name (ARN).",
                                                        "type": "string"
                                                    },
                                                    "Author": {
                                                        "description": "<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>",
                                                        "type": "string"
                                                    },
                                                    "CreationTime": {
                                                        "description": "The date and time this resource was created.",
                                                        "type": "string"
                                                    },
                                                    "Description": {
                                                        "description": "<p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>",
                                                        "type": "string"
                                                    },
                                                    "HomePageUrl": {
                                                        "description": "A URL with more information about the application, for example the location of your GitHub repository for the application.",
                                                        "type": "string"
                                                    },
                                                    "Labels": {
                                                        "description": "<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Name": {
                                                        "description": "<p>The name of the application.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";</p>",
                                                        "type": "string"
                                                    },
                                                    "SpdxLicenseId": {
                                                        "description": "A valid identifier from <a href=\"https://spdx.org/licenses/\">https://spdx.org/licenses/</a>.",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "Description",
                                                    "Author",
                                                    "ApplicationId",
                                                    "Name"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "The token to request the next page of results.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates an application, optionally including an AWS SAM file to create the first application version in the same call.",
                "operationId": "CreateApplication",
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ApplicationId": {
                                            "description": "The application Amazon Resource Name (ARN).",
                                            "type": "string"
                                        },
                                        "Author": {
                                            "description": "<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>",
                                            "type": "string"
                                        },
                                        "CreationTime": {
                                            "description": "The date and time this resource was created.",
                                            "type": "string"
                                        },
                                        "Description": {
                                            "description": "<p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>",
                                            "type": "string"
                                        },
                                        "HomePageUrl": {
                                            "description": "A URL with more information about the application, for example the location of your GitHub repository for the application.",
                                            "type": "string"
                                        },
                                        "Labels": {
                                            "description": "<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "LicenseUrl": {
                                            "description": "<p>A link to a license file of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p>",
                                            "type": "string"
                                        },
                                        "Name": {
                                            "description": "<p>The name of the application.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";</p>",
                                            "type": "string"
                                        },
                                        "ReadmeUrl": {
                                            "description": "<p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>",
                                            "type": "string"
                                        },
                                        "SpdxLicenseId": {
                                            "description": "A valid identifier from https://spdx.org/licenses/.",
                                            "type": "string"
                                        },
                                        "Version": {
                                            "description": "Version information about the application.",
                                            "properties": {
                                                "ApplicationId": {
                                                    "description": "The application Amazon Resource Name (ARN).",
                                                    "type": "string"
                                                },
                                                "CreationTime": {
                                                    "description": "The date and time this resource was created.",
                                                    "type": "string"
                                                },
                                                "ParameterDefinitions": {
                                                    "description": "An array of parameter types supported by the application.",
                                                    "items": {
                                                        "description": "Parameters supported by the application.",
                                                        "properties": {
                                                            "AllowedPattern": {
                                                                "description": "A regular expression that represents the patterns to allow for String types.",
                                                                "type": "string"
                                                            },
                                                            "AllowedValues": {
                                                                "description": "An array containing the list of values allowed for the parameter.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "ConstraintDescription": {
                                                                "description": "<p>A string that explains a constraint when the constraint is violated. For example, without a constraint description,\n a parameter that has an allowed pattern of [A-Za-z0-9]+ displays the following error message when the user\n specifies an invalid value:</p><p>\n Malformed input-Parameter MyParameter must match pattern [A-Za-z0-9]+\n </p><p>By adding a constraint description, such as \"must contain only uppercase and lowercase letters and numbers,\" you can display\n the following customized error message:</p><p>\n Malformed input-Parameter MyParameter must contain only uppercase and lowercase letters and numbers.\n </p>",
                                                                "type": "string"
                                                            },
                                                            "DefaultValue": {
                                                                "description": "A value of the appropriate type for the template to use if no value is specified when a stack is created.\n If you define constraints for the parameter, you must specify a value that adheres to those constraints.",
                                                                "type": "string"
                                                            },
                                                            "Description": {
                                                                "description": "A string of up to 4,000 characters that describes the parameter.",
                                                                "type": "string"
                                                            },
                                                            "MaxLength": {
                                                                "description": "An integer value that determines the largest number of characters that you want to allow for String types.",
                                                                "type": "integer"
                                                            },
                                                            "MaxValue": {
                                                                "description": "A numeric value that determines the largest numeric value that you want to allow for Number types.",
                                                                "type": "integer"
                                                            },
                                                            "MinLength": {
                                                                "description": "An integer value that determines the smallest number of characters that you want to allow for String types.",
                                                                "type": "integer"
                                                            },
                                                            "MinValue": {
                                                                "description": "A numeric value that determines the smallest numeric value that you want to allow for Number types.",
                                                                "type": "integer"
                                                            },
                                                            "Name": {
                                                                "description": "The name of the parameter.",
                                                                "type": "string"
                                                            },
                                                            "NoEcho": {
                                                                "description": "Whether to mask the parameter value whenever anyone makes a call that describes the stack. If you set the\n value to true, the parameter value is masked with asterisks (*****).",
                                                                "type": "boolean"
                                                            },
                                                            "ReferencedByResources": {
                                                                "description": "A list of AWS SAM resources that use this parameter.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "Type": {
                                                                "description": "<p>The type of the parameter.</p><p>Valid values: String | Number | List&lt;Number> | CommaDelimitedList\n </p><p>\n String: A literal string.</p><p>For example, users can specify \"MyUserName\".</p><p>\n Number: An integer or float. AWS CloudFormation validates the parameter value as a number. However, when you use the\n parameter elsewhere in your template (for example, by using the Ref intrinsic function), the parameter value becomes a string.</p><p>For example, users might specify \"8888\".</p><p>\n List&lt;Number>: An array of integers or floats that are separated by commas. AWS CloudFormation validates the parameter value as numbers. However, when\n you use the parameter elsewhere in your template (for example, by using the Ref intrinsic function), the parameter value becomes a list of strings.</p><p>For example, users might specify \"80,20\", and then Ref results in [\"80\",\"20\"].</p><p>\n CommaDelimitedList: An array of literal strings that are separated by commas. The total number of strings should be one more than the total number of commas.\n Also, each member string is space-trimmed.</p><p>For example, users might specify \"test,dev,prod\", and then Ref results in [\"test\",\"dev\",\"prod\"].</p>",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "ReferencedByResources",
                                                            "Name"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "RequiredCapabilities": {
                                                    "description": "<p>A list of values that you must specify before you can deploy certain applications.\n Some applications might include resources that can affect permissions in your AWS\n account, for example, by creating new AWS Identity and Access Management (IAM) users.\n For those applications, you must explicitly acknowledge their capabilities by\n specifying this parameter.</p><p>The only valid values are CAPABILITY_IAM, CAPABILITY_NAMED_IAM,\n CAPABILITY_RESOURCE_POLICY, and CAPABILITY_AUTO_EXPAND.</p><p>The following resources require you to specify CAPABILITY_IAM or\n CAPABILITY_NAMED_IAM:\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\">AWS::IAM::Group</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\">AWS::IAM::InstanceProfile</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html\">AWS::IAM::Policy</a>, and\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\">AWS::IAM::Role</a>.\n If the application contains IAM resources, you can specify either CAPABILITY_IAM\n or CAPABILITY_NAMED_IAM. If the application contains IAM resources\n with custom names, you must specify CAPABILITY_NAMED_IAM.</p><p>The following resources require you to specify CAPABILITY_RESOURCE_POLICY:\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-permission.html\">AWS::Lambda::Permission</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html\">AWS::IAM:Policy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-applicationautoscaling-scalingpolicy.html\">AWS::ApplicationAutoScaling::ScalingPolicy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-policy.html\">AWS::S3::BucketPolicy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sqs-policy.html\">AWS::SQS::QueuePolicy</a>, and\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sns-policy.html\">AWS::SNS::TopicPolicy</a>.</p><p>Applications that contain one or more nested applications require you to specify\n CAPABILITY_AUTO_EXPAND.</p><p>If your application template contains any of the above resources, we recommend that you review\n all permissions associated with the application before deploying. If you don't specify\n this parameter for an application that requires capabilities, the call will fail.</p>",
                                                    "items": {
                                                        "description": "Values that must be specified in order to deploy some applications.",
                                                        "enum": [
                                                            "CAPABILITY_IAM",
                                                            "CAPABILITY_NAMED_IAM",
                                                            "CAPABILITY_AUTO_EXPAND",
                                                            "CAPABILITY_RESOURCE_POLICY"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "ResourcesSupported": {
                                                    "description": "Whether all of the AWS resources contained in this application are supported in the region\n in which it is being retrieved.",
                                                    "type": "boolean"
                                                },
                                                "SemanticVersion": {
                                                    "description": "<p>The semantic version of the application:</p><p>\n <a href=\"https://semver.org/\">https://semver.org/</a>\n </p>",
                                                    "type": "string"
                                                },
                                                "SourceCodeArchiveUrl": {
                                                    "description": "<p>A link to the S3 object that contains the ZIP archive of the source code for this version of your application.</p><p>Maximum size 50 MB</p>",
                                                    "type": "string"
                                                },
                                                "SourceCodeUrl": {
                                                    "description": "A link to a public repository for the source code of your application, for example the URL of a specific GitHub commit.",
                                                    "type": "string"
                                                },
                                                "TemplateUrl": {
                                                    "description": "A link to the packaged AWS SAM template of your application.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "TemplateUrl",
                                                "ParameterDefinitions",
                                                "ResourcesSupported",
                                                "CreationTime",
                                                "RequiredCapabilities",
                                                "ApplicationId",
                                                "SemanticVersion"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Author": {
                                        "description": "<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>",
                                        "type": "string"
                                    },
                                    "Description": {
                                        "description": "<p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>",
                                        "type": "string"
                                    },
                                    "HomePageUrl": {
                                        "description": "A URL with more information about the application, for example the location of your GitHub repository for the application.",
                                        "type": "string"
                                    },
                                    "Labels": {
                                        "description": "<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "LicenseBody": {
                                        "description": "<p>A local text file that contains the license of the app that matches the spdxLicenseID value of your application.\n The file has the format file://&lt;path>/&lt;filename>.</p><p>Maximum size 5 MB</p><p>You can specify only one of licenseBody and licenseUrl; otherwise, an error results.</p>",
                                        "type": "string"
                                    },
                                    "LicenseUrl": {
                                        "description": "<p>A link to the S3 object that contains the license of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p><p>You can specify only one of licenseBody and licenseUrl; otherwise, an error results.</p>",
                                        "type": "string"
                                    },
                                    "Name": {
                                        "description": "<p>The name of the application that you want to publish.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";</p>",
                                        "type": "string"
                                    },
                                    "ReadmeBody": {
                                        "description": "<p>A local text readme file in Markdown language that contains a more detailed description of the application and how it works.\n The file has the format file://&lt;path>/&lt;filename>.</p><p>Maximum size 5 MB</p><p>You can specify only one of readmeBody and readmeUrl; otherwise, an error results.</p>",
                                        "type": "string"
                                    },
                                    "ReadmeUrl": {
                                        "description": "<p>A link to the S3 object in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p><p>You can specify only one of readmeBody and readmeUrl; otherwise, an error results.</p>",
                                        "type": "string"
                                    },
                                    "SemanticVersion": {
                                        "description": "<p>The semantic version of the application:</p><p>\n <a href=\"https://semver.org/\">https://semver.org/</a>\n </p>",
                                        "type": "string"
                                    },
                                    "SourceCodeArchiveUrl": {
                                        "description": "<p>A link to the S3 object that contains the ZIP archive of the source code for this version of your application.</p><p>Maximum size 50 MB</p>",
                                        "type": "string"
                                    },
                                    "SourceCodeUrl": {
                                        "description": "A link to a public repository for the source code of your application, for example the URL of a specific GitHub commit.",
                                        "type": "string"
                                    },
                                    "SpdxLicenseId": {
                                        "description": "A valid identifier from <a href=\"https://spdx.org/licenses/\">https://spdx.org/licenses/</a>.",
                                        "type": "string"
                                    },
                                    "TemplateBody": {
                                        "description": "<p>The local raw packaged AWS SAM template file of your application.\n The file has the format file://&lt;path>/&lt;filename>.</p><p>You can specify only one of templateBody and templateUrl; otherwise an error results.</p>",
                                        "type": "string"
                                    },
                                    "TemplateUrl": {
                                        "description": "<p>A link to the S3 object containing the packaged AWS SAM template of your application.</p><p>You can specify only one of templateBody and templateUrl; otherwise an error results.</p>",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Description",
                                    "Name",
                                    "Author"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/applications/{applicationId}": {
            "delete": {
                "description": "Deletes the specified application.",
                "operationId": "DeleteApplication",
                "parameters": [
                    {
                        "in": "path",
                        "name": "applicationId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Gets the specified application.",
                "operationId": "GetApplication",
                "parameters": [
                    {
                        "in": "path",
                        "name": "applicationId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ApplicationId": {
                                            "description": "The application Amazon Resource Name (ARN).",
                                            "type": "string"
                                        },
                                        "Author": {
                                            "description": "<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>",
                                            "type": "string"
                                        },
                                        "CreationTime": {
                                            "description": "The date and time this resource was created.",
                                            "type": "string"
                                        },
                                        "Description": {
                                            "description": "<p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>",
                                            "type": "string"
                                        },
                                        "HomePageUrl": {
                                            "description": "A URL with more information about the application, for example the location of your GitHub repository for the application.",
                                            "type": "string"
                                        },
                                        "Labels": {
                                            "description": "<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "LicenseUrl": {
                                            "description": "<p>A link to a license file of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p>",
                                            "type": "string"
                                        },
                                        "Name": {
                                            "description": "<p>The name of the application.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";</p>",
                                            "type": "string"
                                        },
                                        "ReadmeUrl": {
                                            "description": "<p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>",
                                            "type": "string"
                                        },
                                        "SpdxLicenseId": {
                                            "description": "A valid identifier from https://spdx.org/licenses/.",
                                            "type": "string"
                                        },
                                        "Version": {
                                            "description": "Version information about the application.",
                                            "properties": {
                                                "ApplicationId": {
                                                    "description": "The application Amazon Resource Name (ARN).",
                                                    "type": "string"
                                                },
                                                "CreationTime": {
                                                    "description": "The date and time this resource was created.",
                                                    "type": "string"
                                                },
                                                "ParameterDefinitions": {
                                                    "description": "An array of parameter types supported by the application.",
                                                    "items": {
                                                        "description": "Parameters supported by the application.",
                                                        "properties": {
                                                            "AllowedPattern": {
                                                                "description": "A regular expression that represents the patterns to allow for String types.",
                                                                "type": "string"
                                                            },
                                                            "AllowedValues": {
                                                                "description": "An array containing the list of values allowed for the parameter.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "ConstraintDescription": {
                                                                "description": "<p>A string that explains a constraint when the constraint is violated. For example, without a constraint description,\n a parameter that has an allowed pattern of [A-Za-z0-9]+ displays the following error message when the user\n specifies an invalid value:</p><p>\n Malformed input-Parameter MyParameter must match pattern [A-Za-z0-9]+\n </p><p>By adding a constraint description, such as \"must contain only uppercase and lowercase letters and numbers,\" you can display\n the following customized error message:</p><p>\n Malformed input-Parameter MyParameter must contain only uppercase and lowercase letters and numbers.\n </p>",
                                                                "type": "string"
                                                            },
                                                            "DefaultValue": {
                                                                "description": "A value of the appropriate type for the template to use if no value is specified when a stack is created.\n If you define constraints for the parameter, you must specify a value that adheres to those constraints.",
                                                                "type": "string"
                                                            },
                                                            "Description": {
                                                                "description": "A string of up to 4,000 characters that describes the parameter.",
                                                                "type": "string"
                                                            },
                                                            "MaxLength": {
                                                                "description": "An integer value that determines the largest number of characters that you want to allow for String types.",
                                                                "type": "integer"
                                                            },
                                                            "MaxValue": {
                                                                "description": "A numeric value that determines the largest numeric value that you want to allow for Number types.",
                                                                "type": "integer"
                                                            },
                                                            "MinLength": {
                                                                "description": "An integer value that determines the smallest number of characters that you want to allow for String types.",
                                                                "type": "integer"
                                                            },
                                                            "MinValue": {
                                                                "description": "A numeric value that determines the smallest numeric value that you want to allow for Number types.",
                                                                "type": "integer"
                                                            },
                                                            "Name": {
                                                                "description": "The name of the parameter.",
                                                                "type": "string"
                                                            },
                                                            "NoEcho": {
                                                                "description": "Whether to mask the parameter value whenever anyone makes a call that describes the stack. If you set the\n value to true, the parameter value is masked with asterisks (*****).",
                                                                "type": "boolean"
                                                            },
                                                            "ReferencedByResources": {
                                                                "description": "A list of AWS SAM resources that use this parameter.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "Type": {
                                                                "description": "<p>The type of the parameter.</p><p>Valid values: String | Number | List&lt;Number> | CommaDelimitedList\n </p><p>\n String: A literal string.</p><p>For example, users can specify \"MyUserName\".</p><p>\n Number: An integer or float. AWS CloudFormation validates the parameter value as a number. However, when you use the\n parameter elsewhere in your template (for example, by using the Ref intrinsic function), the parameter value becomes a string.</p><p>For example, users might specify \"8888\".</p><p>\n List&lt;Number>: An array of integers or floats that are separated by commas. AWS CloudFormation validates the parameter value as numbers. However, when\n you use the parameter elsewhere in your template (for example, by using the Ref intrinsic function), the parameter value becomes a list of strings.</p><p>For example, users might specify \"80,20\", and then Ref results in [\"80\",\"20\"].</p><p>\n CommaDelimitedList: An array of literal strings that are separated by commas. The total number of strings should be one more than the total number of commas.\n Also, each member string is space-trimmed.</p><p>For example, users might specify \"test,dev,prod\", and then Ref results in [\"test\",\"dev\",\"prod\"].</p>",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "ReferencedByResources",
                                                            "Name"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "RequiredCapabilities": {
                                                    "description": "<p>A list of values that you must specify before you can deploy certain applications.\n Some applications might include resources that can affect permissions in your AWS\n account, for example, by creating new AWS Identity and Access Management (IAM) users.\n For those applications, you must explicitly acknowledge their capabilities by\n specifying this parameter.</p><p>The only valid values are CAPABILITY_IAM, CAPABILITY_NAMED_IAM,\n CAPABILITY_RESOURCE_POLICY, and CAPABILITY_AUTO_EXPAND.</p><p>The following resources require you to specify CAPABILITY_IAM or\n CAPABILITY_NAMED_IAM:\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\">AWS::IAM::Group</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\">AWS::IAM::InstanceProfile</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html\">AWS::IAM::Policy</a>, and\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\">AWS::IAM::Role</a>.\n If the application contains IAM resources, you can specify either CAPABILITY_IAM\n or CAPABILITY_NAMED_IAM. If the application contains IAM resources\n with custom names, you must specify CAPABILITY_NAMED_IAM.</p><p>The following resources require you to specify CAPABILITY_RESOURCE_POLICY:\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-permission.html\">AWS::Lambda::Permission</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html\">AWS::IAM:Policy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-applicationautoscaling-scalingpolicy.html\">AWS::ApplicationAutoScaling::ScalingPolicy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-policy.html\">AWS::S3::BucketPolicy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sqs-policy.html\">AWS::SQS::QueuePolicy</a>, and\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sns-policy.html\">AWS::SNS::TopicPolicy</a>.</p><p>Applications that contain one or more nested applications require you to specify\n CAPABILITY_AUTO_EXPAND.</p><p>If your application template contains any of the above resources, we recommend that you review\n all permissions associated with the application before deploying. If you don't specify\n this parameter for an application that requires capabilities, the call will fail.</p>",
                                                    "items": {
                                                        "description": "Values that must be specified in order to deploy some applications.",
                                                        "enum": [
                                                            "CAPABILITY_IAM",
                                                            "CAPABILITY_NAMED_IAM",
                                                            "CAPABILITY_AUTO_EXPAND",
                                                            "CAPABILITY_RESOURCE_POLICY"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "ResourcesSupported": {
                                                    "description": "Whether all of the AWS resources contained in this application are supported in the region\n in which it is being retrieved.",
                                                    "type": "boolean"
                                                },
                                                "SemanticVersion": {
                                                    "description": "<p>The semantic version of the application:</p><p>\n <a href=\"https://semver.org/\">https://semver.org/</a>\n </p>",
                                                    "type": "string"
                                                },
                                                "SourceCodeArchiveUrl": {
                                                    "description": "<p>A link to the S3 object that contains the ZIP archive of the source code for this version of your application.</p><p>Maximum size 50 MB</p>",
                                                    "type": "string"
                                                },
                                                "SourceCodeUrl": {
                                                    "description": "A link to a public repository for the source code of your application, for example the URL of a specific GitHub commit.",
                                                    "type": "string"
                                                },
                                                "TemplateUrl": {
                                                    "description": "A link to the packaged AWS SAM template of your application.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "TemplateUrl",
                                                "ParameterDefinitions",
                                                "ResourcesSupported",
                                                "CreationTime",
                                                "RequiredCapabilities",
                                                "ApplicationId",
                                                "SemanticVersion"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "description": "Updates the specified application.",
                "operationId": "UpdateApplication",
                "parameters": [
                    {
                        "in": "path",
                        "name": "applicationId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ApplicationId": {
                                            "description": "The application Amazon Resource Name (ARN).",
                                            "type": "string"
                                        },
                                        "Author": {
                                            "description": "<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>",
                                            "type": "string"
                                        },
                                        "CreationTime": {
                                            "description": "The date and time this resource was created.",
                                            "type": "string"
                                        },
                                        "Description": {
                                            "description": "<p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>",
                                            "type": "string"
                                        },
                                        "HomePageUrl": {
                                            "description": "A URL with more information about the application, for example the location of your GitHub repository for the application.",
                                            "type": "string"
                                        },
                                        "Labels": {
                                            "description": "<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "LicenseUrl": {
                                            "description": "<p>A link to a license file of the app that matches the spdxLicenseID value of your application.</p><p>Maximum size 5 MB</p>",
                                            "type": "string"
                                        },
                                        "Name": {
                                            "description": "<p>The name of the application.</p><p>Minimum length=1. Maximum length=140</p><p>Pattern: \"[a-zA-Z0-9\\\\-]+\";</p>",
                                            "type": "string"
                                        },
                                        "ReadmeUrl": {
                                            "description": "<p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>",
                                            "type": "string"
                                        },
                                        "SpdxLicenseId": {
                                            "description": "A valid identifier from https://spdx.org/licenses/.",
                                            "type": "string"
                                        },
                                        "Version": {
                                            "description": "Version information about the application.",
                                            "properties": {
                                                "ApplicationId": {
                                                    "description": "The application Amazon Resource Name (ARN).",
                                                    "type": "string"
                                                },
                                                "CreationTime": {
                                                    "description": "The date and time this resource was created.",
                                                    "type": "string"
                                                },
                                                "ParameterDefinitions": {
                                                    "description": "An array of parameter types supported by the application.",
                                                    "items": {
                                                        "description": "Parameters supported by the application.",
                                                        "properties": {
                                                            "AllowedPattern": {
                                                                "description": "A regular expression that represents the patterns to allow for String types.",
                                                                "type": "string"
                                                            },
                                                            "AllowedValues": {
                                                                "description": "An array containing the list of values allowed for the parameter.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "ConstraintDescription": {
                                                                "description": "<p>A string that explains a constraint when the constraint is violated. For example, without a constraint description,\n a parameter that has an allowed pattern of [A-Za-z0-9]+ displays the following error message when the user\n specifies an invalid value:</p><p>\n Malformed input-Parameter MyParameter must match pattern [A-Za-z0-9]+\n </p><p>By adding a constraint description, such as \"must contain only uppercase and lowercase letters and numbers,\" you can display\n the following customized error message:</p><p>\n Malformed input-Parameter MyParameter must contain only uppercase and lowercase letters and numbers.\n </p>",
                                                                "type": "string"
                                                            },
                                                            "DefaultValue": {
                                                                "description": "A value of the appropriate type for the template to use if no value is specified when a stack is created.\n If you define constraints for the parameter, you must specify a value that adheres to those constraints.",
                                                                "type": "string"
                                                            },
                                                            "Description": {
                                                                "description": "A string of up to 4,000 characters that describes the parameter.",
                                                                "type": "string"
                                                            },
                                                            "MaxLength": {
                                                                "description": "An integer value that determines the largest number of characters that you want to allow for String types.",
                                                                "type": "integer"
                                                            },
                                                            "MaxValue": {
                                                                "description": "A numeric value that determines the largest numeric value that you want to allow for Number types.",
                                                                "type": "integer"
                                                            },
                                                            "MinLength": {
                                                                "description": "An integer value that determines the smallest number of characters that you want to allow for String types.",
                                                                "type": "integer"
                                                            },
                                                            "MinValue": {
                                                                "description": "A numeric value that determines the smallest numeric value that you want to allow for Number types.",
                                                                "type": "integer"
                                                            },
                                                            "Name": {
                                                                "description": "The name of the parameter.",
                                                                "type": "string"
                                                            },
                                                            "NoEcho": {
                                                                "description": "Whether to mask the parameter value whenever anyone makes a call that describes the stack. If you set the\n value to true, the parameter value is masked with asterisks (*****).",
                                                                "type": "boolean"
                                                            },
                                                            "ReferencedByResources": {
                                                                "description": "A list of AWS SAM resources that use this parameter.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "Type": {
                                                                "description": "<p>The type of the parameter.</p><p>Valid values: String | Number | List&lt;Number> | CommaDelimitedList\n </p><p>\n String: A literal string.</p><p>For example, users can specify \"MyUserName\".</p><p>\n Number: An integer or float. AWS CloudFormation validates the parameter value as a number. However, when you use the\n parameter elsewhere in your template (for example, by using the Ref intrinsic function), the parameter value becomes a string.</p><p>For example, users might specify \"8888\".</p><p>\n List&lt;Number>: An array of integers or floats that are separated by commas. AWS CloudFormation validates the parameter value as numbers. However, when\n you use the parameter elsewhere in your template (for example, by using the Ref intrinsic function), the parameter value becomes a list of strings.</p><p>For example, users might specify \"80,20\", and then Ref results in [\"80\",\"20\"].</p><p>\n CommaDelimitedList: An array of literal strings that are separated by commas. The total number of strings should be one more than the total number of commas.\n Also, each member string is space-trimmed.</p><p>For example, users might specify \"test,dev,prod\", and then Ref results in [\"test\",\"dev\",\"prod\"].</p>",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "ReferencedByResources",
                                                            "Name"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "RequiredCapabilities": {
                                                    "description": "<p>A list of values that you must specify before you can deploy certain applications.\n Some applications might include resources that can affect permissions in your AWS\n account, for example, by creating new AWS Identity and Access Management (IAM) users.\n For those applications, you must explicitly acknowledge their capabilities by\n specifying this parameter.</p><p>The only valid values are CAPABILITY_IAM, CAPABILITY_NAMED_IAM,\n CAPABILITY_RESOURCE_POLICY, and CAPABILITY_AUTO_EXPAND.</p><p>The following resources require you to specify CAPABILITY_IAM or\n CAPABILITY_NAMED_IAM:\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\">AWS::IAM::Group</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\">AWS::IAM::InstanceProfile</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html\">AWS::IAM::Policy</a>, and\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\">AWS::IAM::Role</a>.\n If the application contains IAM resources, you can specify either CAPABILITY_IAM\n or CAPABILITY_NAMED_IAM. If the application contains IAM resources\n with custom names, you must specify CAPABILITY_NAMED_IAM.</p><p>The following resources require you to specify CAPABILITY_RESOURCE_POLICY:\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-permission.html\">AWS::Lambda::Permission</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-policy.html\">AWS::IAM:Policy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-applicationautoscaling-scalingpolicy.html\">AWS::ApplicationAutoScaling::ScalingPolicy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-policy.html\">AWS::S3::BucketPolicy</a>,\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sqs-policy.html\">AWS::SQS::QueuePolicy</a>, and\n <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sns-policy.html\">AWS::SNS::TopicPolicy</a>.</p><p>Applications that contain one or more nested applications require you to specify\n CAPABILITY_AUTO_EXPAND.</p><p>If your application template contains any of the above resources, we recommend that you review\n all permissions associated with the application before deploying. If you don't specify\n this parameter for an application that requires capabilities, the call will fail.</p>",
                                                    "items": {
                                                        "description": "Values that must be specified in order to deploy some applications.",
                                                        "enum": [
                                                            "CAPABILITY_IAM",
                                                            "CAPABILITY_NAMED_IAM",
                                                            "CAPABILITY_AUTO_EXPAND",
                                                            "CAPABILITY_RESOURCE_POLICY"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "ResourcesSupported": {
                                                    "description": "Whether all of the AWS resources contained in this application are supported in the region\n in which it is being retrieved.",
                                                    "type": "boolean"
                                                },
                                                "SemanticVersion": {
                                                    "description": "<p>The semantic version of the application:</p><p>\n <a href=\"https://semver.org/\">https://semver.org/</a>\n </p>",
                                                    "type": "string"
                                                },
                                                "SourceCodeArchiveUrl": {
                                                    "description": "<p>A link to the S3 object that contains the ZIP archive of the source code for this version of your application.</p><p>Maximum size 50 MB</p>",
                                                    "type": "string"
                                                },
                                                "SourceCodeUrl": {
                                                    "description": "A link to a public repository for the source code of your application, for example the URL of a specific GitHub commit.",
                                                    "type": "string"
                                                },
                                                "TemplateUrl": {
                                                    "description": "A link to the packaged AWS SAM template of your application.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "TemplateUrl",
                                                "ParameterDefinitions",
                                                "ResourcesSupported",
                                                "CreationTime",
                                                "RequiredCapabilities",
                                                "ApplicationId",
                                                "SemanticVersion"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Author": {
                                        "description": "<p>The name of the author publishing the app.</p><p>Minimum length=1. Maximum length=127.</p><p>Pattern \"^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$\";</p>",
                                        "type": "string"
                                    },
                                    "Description": {
                                        "description": "<p>The description of the application.</p><p>Minimum length=1. Maximum length=256</p>",
                                        "type": "string"
                                    },
                                    "HomePageUrl": {
                                        "description": "A URL with more information about the application, for example the location of your GitHub repository for the application.",
                                        "type": "string"
                                    },
                                    "Labels": {
                                        "description": "<p>Labels to improve discovery of apps in search results.</p><p>Minimum length=1. Maximum length=127. Maximum number of labels: 10</p><p>Pattern: \"^[a-zA-Z0-9+\\\\-_:\\\\/@]+$\";</p>",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "ReadmeBody": {
                                        "description": "<p>A text readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>",
                                        "type": "string"
                                    },
                                    "ReadmeUrl": {
                                        "description": "<p>A link to the readme file in Markdown language that contains a more detailed description of the application and how it works.</p><p>Maximum size 5 MB</p>",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/applications/{applicationId}/changesets": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates an AWS CloudFormation change set for the given application.",
                "operationId": "CreateCloudFormationChangeSet",
                "parameters": [
                    {
                        "in": "path",
                        "name": "applicationId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ApplicationId": {
                                            "description": "The application Amazon Resource Name (ARN).",
                                            "type": "string"
                                        },
                                        "ChangeSetId": {
                                            "description": "<p>The Amazon Resource Name (ARN) of the change set.</p><p>Length constraints: Minimum length of 1.</p><p>Pattern: ARN:[-a-zA-Z0-9:/]*</p>",
                                            "type": "string"
                                        },
                                        "SemanticVersion": {
                                            "description": "<p>The semantic version of the application:</p><p>\n <a href=\"https://semver.org/\">https://semver.org/</a>\n </p>",
                                            "type": "string"
                                        },
                                        "StackId": {
                                            "description": "The unique ID of the stack.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Capabilities": {
[...]
